<div class="products-list-container catalog-container">
    <div class="products-list-card">
        <div class="products-list-card-favourite-button">
            <span class="icon icon-heart"></span>
        </div>
        <div class="swiper products-list-card-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-1.png" alt="Холодильник 1 слайд">
                </div>
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-2.png" alt="Холодильник 2 слайд">
                </div>
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-3.png" alt="Холодильник 3 слайд">
                </div>
            </div>
            <div class="products-list-swiper-pagination"></div>
        </div>
        <div class="products-list-card-info">
            <div class="product-name">
                BOREY 1400
            </div>
            <div class="product-description">
                Холодильный шкаф 2155х1300х760мм
            </div>
            <div class="product-cost-block">
                <span>Стоимость:</span>
                <span class="product-cost-title">от <span>4000 000</span>₽</span>
            </div>
        </div>
        <div class="products-list-card-buttons">
            <button class="product-to-comparison">
                <span class="icon icon-plus"></span>
                В сравнение
            </button>
            <button class="product-to-open">
                Подробнее
                <span class="icon icon-triangle"></span>
            </button>
        </div>
    </div>
    <div class="products-list-card">
        <div class="products-list-card-favourite-button">
            <span class="icon icon-heart"></span>
        </div>
        <div class="swiper products-list-card-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-1.png" alt="Холодильник 1 слайд">
                </div>
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-2.png" alt="Холодильник 2 слайд">
                </div>
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-3.png" alt="Холодильник 3 слайд">
                </div>
            </div>
            <div class="products-list-swiper-pagination"></div>
        </div>
        <div class="products-list-card-info">
            <div class="product-name">
                BOREY 1400
            </div>
            <div class="product-description">
                Холодильный шкаф 2155х1300х760мм
            </div>
            <div class="product-cost-block">
                <span>Стоимость:</span>
                <span class="product-cost-title">от <span>4000 000</span>₽</span>
            </div>
        </div>
        <div class="products-list-card-buttons">
            <button class="product-to-comparison">
                <span class="icon icon-plus"></span>
                В сравнение
            </button>
            <button class="product-to-open">
                Подробнее
                <span class="icon icon-triangle"></span>
            </button>
        </div>
    </div>
    <div class="products-list-card">
        <div class="products-list-card-favourite-button">
            <span class="icon icon-heart"></span>
        </div>
        <div class="swiper products-list-card-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-1.png" alt="Холодильник 1 слайд">
                </div>
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-2.png" alt="Холодильник 2 слайд">
                </div>
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-3.png" alt="Холодильник 3 слайд">
                </div>
            </div>
            <div class="products-list-swiper-pagination"></div>
        </div>
        <div class="products-list-card-info">
            <div class="product-name">
                BOREY 1400
            </div>
            <div class="product-description">
                Холодильный шкаф 2155х1300х760мм
            </div>
            <div class="product-cost-block">
                <span>Стоимость:</span>
                <span class="product-cost-title">от <span>4000 000</span>₽</span>
            </div>
        </div>
        <div class="products-list-card-buttons">
            <button class="product-to-comparison">
                <span class="icon icon-plus"></span>
                В сравнение
            </button>
            <button class="product-to-open">
                Подробнее
                <span class="icon icon-triangle"></span>
            </button>
        </div>
    </div>
    <div class="products-list-card">
        <div class="products-list-card-favourite-button">
            <span class="icon icon-heart"></span>
        </div>
        <div class="swiper products-list-card-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-1.png" alt="Холодильник 1 слайд">
                </div>
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-2.png" alt="Холодильник 2 слайд">
                </div>
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-3.png" alt="Холодильник 3 слайд">
                </div>
            </div>
            <div class="products-list-swiper-pagination"></div>
        </div>
        <div class="products-list-card-info">
            <div class="product-name">
                BOREY 1400
            </div>
            <div class="product-description">
                Холодильный шкаф 2155х1300х760мм
            </div>
            <div class="product-cost-block">
                <span>Стоимость:</span>
                <span class="product-cost-title">от <span>4000 000</span>₽</span>
            </div>
        </div>
        <div class="products-list-card-buttons">
            <button class="product-to-comparison">
                <span class="icon icon-plus"></span>
                В сравнение
            </button>
            <button class="product-to-open">
                Подробнее
                <span class="icon icon-triangle"></span>
            </button>
        </div>
    </div>
    <div class="products-list-card">
        <div class="products-list-card-favourite-button">
            <span class="icon icon-heart"></span>
        </div>
        <div class="swiper products-list-card-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-1.png" alt="Холодильник 1 слайд">
                </div>
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-2.png" alt="Холодильник 2 слайд">
                </div>
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-3.png" alt="Холодильник 3 слайд">
                </div>
            </div>
            <div class="products-list-swiper-pagination"></div>
        </div>
        <div class="products-list-card-info">
            <div class="product-name">
                BOREY 1400
            </div>
            <div class="product-description">
                Холодильный шкаф 2155х1300х760мм
            </div>
            <div class="product-cost-block">
                <span>Стоимость:</span>
                <span class="product-cost-title">от <span>4000 000</span>₽</span>
            </div>
        </div>
        <div class="products-list-card-buttons">
            <button class="product-to-comparison">
                <span class="icon icon-plus"></span>
                В сравнение
            </button>
            <button class="product-to-open">
                Подробнее
                <span class="icon icon-triangle"></span>
            </button>
        </div>
    </div>
    <div class="products-list-card">
        <div class="products-list-card-favourite-button">
            <span class="icon icon-heart"></span>
        </div>
        <div class="swiper products-list-card-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-1.png" alt="Холодильник 1 слайд">
                </div>
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-2.png" alt="Холодильник 2 слайд">
                </div>
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-3.png" alt="Холодильник 3 слайд">
                </div>
            </div>
            <div class="products-list-swiper-pagination"></div>
        </div>
        <div class="products-list-card-info">
            <div class="product-name">
                BOREY 1400
            </div>
            <div class="product-description">
                Холодильный шкаф 2155х1300х760мм
            </div>
            <div class="product-cost-block">
                <span>Стоимость:</span>
                <span class="product-cost-title">от <span>4000 000</span>₽</span>
            </div>
        </div>
        <div class="products-list-card-buttons">
            <button class="product-to-comparison">
                <span class="icon icon-plus"></span>
                В сравнение
            </button>
            <button class="product-to-open">
                Подробнее
                <span class="icon icon-triangle"></span>
            </button>
        </div>
    </div>
    <div class="products-list-card">
        <div class="products-list-card-favourite-button">
            <span class="icon icon-heart"></span>
        </div>
        <div class="swiper products-list-card-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-1.png" alt="Холодильник 1 слайд">
                </div>
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-2.png" alt="Холодильник 2 слайд">
                </div>
                <div class="swiper-slide">
                    <img src="/src/assets/catalog-page/catalog-card-ex-3.png" alt="Холодильник 3 слайд">
                </div>
            </div>
            <div class="products-list-swiper-pagination"></div>
        </div>
        <div class="products-list-card-info">
            <div class="product-name">
                BOREY 1400
            </div>
            <div class="product-description">
                Холодильный шкаф 2155х1300х760мм
            </div>
            <div class="product-cost-block">
                <span>Стоимость:</span>
                <span class="product-cost-title">от <span>4000 000</span>₽</span>
            </div>
        </div>
        <div class="products-list-card-buttons">
            <button class="product-to-comparison">
                <span class="icon icon-plus"></span>
                В сравнение
            </button>
            <button class="product-to-open">
                Подробнее
                <span class="icon icon-triangle"></span>
            </button>
        </div>
    </div>
    <button id="show-more-btn" style="display: none;">Показать остальные</button>
</div>