<div class="catalog-title container">
    <div class="block-title-h2">
        Шкафы холодильные
        <span id="products-count" class="products-count">23</span>
    </div>
    <div class="block-title-description">
        Эти прилавки, доступные в режиме самообслуживания, для подачи через прилавок, в виде градирни и горячего корпуса, полностью настраиваются благодаря широкому выбору покрытий и отделочных материалов.
        Линейные или фасонные основания и прямое или изогнутое стекло в сочетании создают нужные вам стильные дисплеи.
        <br>Выберите подходящую конфигурацию для вашего собственного магазина из нашего обширного ассортимента вертикальных шкафов и прилавков.
    </div>
</div>