@import "product-list/products-list-card.css";

.catalog-main-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.catalog-container {
    max-width: 980px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-end;
}