<div class="about-numbers">
    <div class="about-numbers-title">
        <span>Мы в цифрах</span>
    </div>
    <div class="container row justify-between">
        <div class="about-numbers-block">
            <span class="icon icon-square"></span>
            <div>140к<span>м2</span></div>
            <div>Площадь предприятия</div>
        </div>
        <div class="divider"></div>
        <div class="about-numbers-block">
            <span class="icon icon-specialist"></span>
            <div>500</div>
            <div>Высококлассных специалистов</div>
        </div>
        <div class="divider second-divider"></div>
        <div class="about-numbers-block">
            <span class="icon icon-fridge"></span>
            <div>150</div>
            <div>Холодильников выпускается в смену</div>
        </div>
        <div class="divider"></div>
        <div class="about-numbers-block">
            <span class="icon icon-production-box"></span>
            <div>190К+</div>
            <div>Продукции выпускается в год</div>
        </div>
    </div>
</div>