<section class="about-numbers">
    <header>
        <h1>Мы в цифрах</h1>
    </header>
    <main class="container row justify-between">
        <section class="about-numbers-block">
            <img src="src/assets/about-numbers/square_icon.svg" alt="Square icon">
            <h2>140км<span>2</span></h2>
            <p>Площадь предприятия</p>
        </section>
        <div class="divider"></div>
        <section class="about-numbers-block">
            <img src="src/assets/about-numbers/specialist_icon.svg" alt="Square icon">
            <h2>500</h2>
            <p>Высококлассных специалистов</p>
        </section>
        <div class="divider"></div>
        <section class="about-numbers-block">
            <img src="src/assets/about-numbers/fridge_icon.svg" alt="Square icon">
            <h2>150</h2>
            <p>Холодильников выпускается в смену</p>
        </section>
        <div class="divider"></div>
        <section class="about-numbers-block">
            <img src="src/assets/about-numbers/production_box_icon.svg" alt="Square icon">
            <h2>190К+</h2>
            <p>Продукции выпускается в год</p>
        </section>
    </main>
</section>