<section class="about-goal">
    <div class="about-figure">

    </div>
    <div class="container column about">
        <p>Наша цель - предоставить высококачественные и надежные решения для хранения и охлаждения продуктов. <br>
            Наше оборудование имеет современный дизайн и соответствует самым высоким стандартам качества. Мы используем
            передовые технологии и инновационные материалы для обеспечения эффективного охлаждения и длительного срока
            службы наших изделий.
        </p>
        <button>О компании</button>
    </div>
</section>