<section class="articles">
    <section class="column">
        <div class="row">
            <img src="src/assets/articles/control_icon.svg" alt="Контроль иконка">
            <h2>Полный контроль за потреблением</h2>
        </div>
        <img class="articles-image" src="src/assets/articles/glass.png">
        <a href="">Читать</a>
    </section>
    <section class="column">
        <div class="row">
            <img src="src/assets/articles/future_equipment_icon.svg" alt="Контроль иконка">
            <h2>оборудование, обеспечивающее будущее</h2>
        </div>
        <img class="articles-image" src="src/assets/articles/lights.png">
        <a href="">Читать</a>
    </section>
    <section class="column">
        <div class="row">
            <img src="src/assets/articles/preservation_icon.svg" alt="Контроль иконка">
            <h2>консервация пищевых продуктов</h2>
        </div>
        <a href="">Читать</a>
    </section>
    <section class="column">
        <div class="row">
            <img src="src/assets/articles/freezing_icon.svg" alt="Контроль иконка">
            <h2>экологически чистое охлаждение</h2>
        </div>
        <img class="articles-image" src="src/assets/articles/cooling.png">
        <a href=""><span>Читать</span></a>
    </section>
</section>