<div class="articles">
    <div class="articles-block">
        <div class="articles-title">
            <span class="icon icon-control">
                <span class="path1"></span>
                <span class="path2"></span>
            </span>
            <span class="articles-title-text">Полный контроль за потреблением</span>
        </div>
        <div class="articles-glass-background articles-block-background"></div>
        <div class="articles-block-text">
            <span class="articles-text">
                Наша цель - предоставить высококачественные и надежные решения для хранения и охлаждения продуктов. <br>
            Наше оборудование имеет современный дизайн и соответствует самым высоким стандартам качества. Мы используем
            передовые технологии и инновационные материалы для обеспечения эффективного охлаждения и длительного срока
            службы наших изделий.
            </span>
        </div>
        <div class="articles-read-button"></div>
    </div>
    <div class="articles-block">
        <div class="articles-title">
            <span class="icon icon-future-equipment">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
            </span>
            <span class="articles-title-text">оборудование, обеспечивающее будущее</span>
        </div>
        <div class="articles-light-background articles-block-background"></div>
        <div class="articles-block-text">
            <span>
                Наша цель - предоставить высококачественные и надежные решения для хранения и охлаждения продуктов. <br>
            Наше оборудование имеет современный дизайн и соответствует самым высоким стандартам качества. Мы используем
            передовые технологии и инновационные материалы для обеспечения эффективного охлаждения и длительного срока
            службы наших изделий.
            </span>
        </div>
        <div class="articles-read-button"></div>
    </div>
    <div class="articles-block">
        <div class="articles-title">
            <span class="icon icon-preservation">
                <span class="path1"></span>
                <span class="path2"></span>
            </span>
            <span class="articles-title-text">консервация пищевых продуктов</span>
        </div>
        <div class="articles-preservation-background articles-block-background"></div>
        <div class="articles-block-text">
            <span>
                Наша цель - предоставить высококачественные и надежные решения для хранения и охлаждения продуктов. <br>
            Наше оборудование имеет современный дизайн и соответствует самым высоким стандартам качества. Мы используем
            передовые технологии и инновационные материалы для обеспечения эффективного охлаждения и длительного срока
            службы наших изделий.
            </span>
        </div>
        <div class="articles-read-button"></div>
    </div>
    <div class="articles-block">
        <div class="articles-title">
            <span class="icon icon-freezing"></span>
            <span class="articles-title-text">экологически чистое охлаждение</span>
        </div>
        <div class="articles-cooling-background articles-block-background"></div>
        <div class="articles-block-text">
            <span>
                Наша цель - предоставить высококачественные и надежные решения для хранения и охлаждения продуктов. <br>
            Наше оборудование имеет современный дизайн и соответствует самым высоким стандартам качества. Мы используем
            передовые технологии и инновационные материалы для обеспечения эффективного охлаждения и длительного срока
            службы наших изделий.
            </span>
        </div>
        <div class="articles-read-button"></div>
    </div>
</div>