<div class="main-banner">
    <div class="container-large">
        <div class="banner-title-block">
            <div class="banner-title">
                Холодильное оборудование
            </div>
            <span class="banner-description">
                Да здравствует мощь холодильного оборудования! Оно неизменно и надежно, и бережно хранит продукты вовне!
            </span>
            <div class="row banner-title-buttons">
                <a class="button button-production banner-title-button">
                    Продукция
                    <span class="icon icon-long-arrow"></span>
                </a>
                <div class="button button-feedback banner-title-button">
                    Обратная связь
                    <span class="icon icon-mail"></span>
                </div>
            </div>
        </div>
        <div class="banner-triangle">
            <svg xmlns="http://www.w3.org/2000/svg" width="971" height="823" viewBox="0 0 971 823" fill="none">
                <path d="M0 0L971 822.5H267.5L0 0Z" fill="#E12026"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="971" height="823" viewBox="0 0 971 823" fill="none">
                <path d="M267.863 822L1.01985 1.51915L969.636 822H267.863Z" stroke="#E12026"/>
            </svg>
        </div>
        <div class="banner-circle">
            <img src="/src/assets/banner/banner-small-circle.svg" alt="Да здраствуйте отечество">
            <img src="/src/assets/banner/banner-large-circle.svg" alt="Отечественное оборудование гремит и сверкает">
        </div>


        <img src="/src/assets/banner/banner-fridge.png" class="banner-fridge" alt="fridge image">
        <div class="banner-advantages">
            <div class="banner-advantages-element">
                <div class="banner-advantages-element-image">
                    <img src="/src/assets/banner/banner-advantages-1.png" alt="Innovative technologies">
                </div>
                <div class="banner-advantages-element-text">Инновационные технологии</div>
            </div>
            <div class="banner-advantages-element">
                <div class="banner-advantages-element-image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="90" height="40" viewBox="0 0 90 40" fill="none">
                        <path d="M96 40C96 9.6263 71.3738 -15 41 -15C10.6263 -15 -14 9.6263 -14 40" stroke="#151515" stroke-width="30"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
                        <circle cx="40" cy="40" r="39" stroke="#E12026" stroke-width="2"/>
                    </svg>
                    <img src="/src/assets/banner/banner-advantages-2.png" alt="Innovative technologies">
                    <svg xmlns="http://www.w3.org/2000/svg" width="90" height="40" viewBox="0 0 90 40" fill="none">
                        <path d="M104 5.96046e-07C104 30.3737 79.3738 55 49 55C18.6263 55 -6 30.3737 -6 5.96046e-07" stroke="#151515" stroke-width="30"/>
                    </svg>
                </div>
                <div class="banner-advantages-element-text">Надежное хранение продуктов</div>
            </div>
            <div class="banner-advantages-element">
                <div class="banner-advantages-element-image">
                    <img src="/src/assets/banner/banner-advantages-3.png" alt="Innovative technologies">
                    <svg xmlns="http://www.w3.org/2000/svg" width="92" height="80" viewBox="0 0 92 80" fill="none">
                        <path d="M4.32132 77.5L46 5.01534L87.6787 77.5H4.32132Z" stroke="#0084BF" stroke-opacity="0.8" stroke-width="5"/>
                    </svg>
                </div>
                <div class="banner-advantages-element-text">Высокое качество оборудования</div>
            </div>
        </div>
        <div class="banner-square">

        </div>
    </div>
</div>