<div class="main-banner">
    <div class="container-large">
        <div class="banner-title-block">
            <div class="banner-title">
                Холодильное оборудование
            </div>
            <span class="banner-description">
                Да здравствует мощь холодильного оборудования! Оно неизменно и надежно, и бережно хранит продукты вовне!
            </span>
            <div class="row banner-title-buttons">
                <a class="button button-production">
                    Продукция
                    <span class="icon icon-long-arrow"></span>
                </a>
                <div class="button button-feedback">
                    Обратная связь
                    <span class="icon icon-mail"></span>
                </div>
            </div>
        </div>
        <div class="banner-triangle">
            <svg xmlns="http://www.w3.org/2000/svg" width="971" height="823" viewBox="0 0 971 823" fill="none">
                <path d="M0 0L971 822.5H267.5L0 0Z" fill="#E12026"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="971" height="823" viewBox="0 0 971 823" fill="none">
                <path d="M267.863 822L1.01985 1.51915L969.636 822H267.863Z" stroke="#E12026"/>
            </svg>
        </div>
        <div class="banner-circle">
            <img src="/src/assets/banner/banner-small-circle.svg" alt="Да здраствуйте отечество">
            <img src="/src/assets/banner/banner-large-circle.svg" alt="Отечественное оборудование гремит и сверкает">
        </div>


        <img src="/src/assets/banner/banner-fridge.png" class="banner-fridge" alt="fridge image">
        <div class="banner-advantages">
            <div class="banner-advantages-element">

            </div>
        </div>
        <div class="banner-square">

        </div>
    </div>
</div>