<section class="main-feedback">
    <div class="feedback-form-title">
        <h1>
            перейдём к действиям
        </h1>
        <p>
            Мы с удовольствием ответим на все ваши вопросы и предоставим дополнительную информацию о нашем оборудовании
        </p>
    </div>
    <div class="feedback-form">
        <form method="get" action="" class="container-form">
            <div class="row">
                <label>
                    <input type="text" placeholder="" name="fullname">
                </label>
                <label>
                    <input type="text" placeholder="" name="contact">
                </label>
            </div>
            <textarea name="comment">

            </textarea>
            <label for="fileInput">Добавить файл</label>
            <input type="file" id="fileInput" name="file" multiple>
            <label>
                <input type="checkbox" name="news-subscription-flag">
                <p>Вы хотите быть в курсе последних событий? Подпишитесь на нашу новостную рассылку.</p>
            </label>
            <label>
                <input type="checkbox" name="news-subscription-flag">
                <p>Я прочитал и принимаю <a style="color: #E12026">Общие условия использования и Политику конфиденциальности</a></p>
            </label>
        </form>
    </div>
</section>