<section class="gallery">
    <h1 class="block-title">
        Галерея
    </h1>
    <div class="row justify-between">
        <div class="gallery-photo main-photo">
            <img src="src/assets/gallery/gallery-example.png" alt="">
        </div>
        <div class="gallery-photo">
            <img src="src/assets/gallery/gallery-example1.png" alt="">
        </div>
        <div class="gallery-photo">
            <img src="src/assets/gallery/gallery-example.png" alt="">
        </div>
        <div class="gallery-photo">
            <img src="src/assets/gallery/gallery-example.png" alt="">
        </div>
    </div>
    <div class="row gallery-panel">
        <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.18182 0.5V7.31818H15V8.68182H8.18182V15.5H6.81818V8.68182H0V7.31818H6.81818V0.5H8.18182Z" fill="white"/>
            </svg>
            все фото
        </a>
        <button id="gallery-button-prev">
        </button>
        <button id="gallery-button-next">
        </button>
        <div class="gallery-counter">
            <p><span>1</span>/<span>80</span></p>
        </div>
    </div>
</section>