<div class="gallery">
    <div class="block-title">
        Галерея
    </div>
    <div class="swiper gallerySwiper">
        <div class="swiper-wrapper">
            <div class="gallery-photo swiper-slide">
                <img src="src/assets/gallery/gallery-example.png" alt="">
            </div>
            <div class="gallery-photo swiper-slide">
                <img src="src/assets/gallery/gallery-example.png" alt="">
            </div>
            <div class="gallery-photo swiper-slide">
                <img src="src/assets/gallery/gallery-example1.png" alt="">
            </div>
            <div class="gallery-photo swiper-slide">
                <img src="src/assets/gallery/gallery-example1.png" alt="">
            </div>
            <div class="gallery-photo swiper-slide">
                <img src="src/assets/gallery/gallery-example.png" alt="">
            </div>
            <div class="gallery-photo swiper-slide">
                <img src="src/assets/gallery/gallery-example.png" alt="">
            </div>
            <div class="gallery-photo swiper-slide">
                <img src="src/assets/gallery/gallery-example1.png" alt="">
            </div>
            <div class="gallery-photo swiper-slide">
                <img src="src/assets/gallery/gallery-example1.png" alt="">
            </div>
            <div class="gallery-photo swiper-slide">
                <img src="src/assets/gallery/gallery-example1.png" alt="">
            </div>
            <div class="gallery-photo swiper-slide">
                <img src="src/assets/gallery/gallery-example1.png" alt="">
            </div>
            <div class="gallery-photo swiper-slide">
                <img src="src/assets/gallery/gallery-example1.png" alt="">
            </div>
            <div class="gallery-photo swiper-slide">
                <img src="src/assets/gallery/gallery-example1.png" alt="">
            </div>
            <div class="gallery-photo swiper-slide">
                <img src="src/assets/gallery/gallery-example1.png" alt="">
            </div>
            <div class="gallery-photo swiper-slide">
                <img src="src/assets/gallery/gallery-example1.png" alt="">
            </div>
            <div class="gallery-photo swiper-slide">
                <img src="src/assets/gallery/gallery-example1.png" alt="">
            </div>
            <div class="gallery-photo swiper-slide">
                <img src="src/assets/gallery/gallery-example.png" alt="">
            </div>
        </div>
        <div class=""></div>
        <div class="row gallery-panel">
            <a href="">
                <span class="icon icon-plus"></span>
                все фото
            </a>
            <button class="gallery-button-prev">
                <span class="icon icon-triangle"></span>
            </button>
            <button class="gallery-button-next">
                <span class="icon icon-triangle"></span>
            </button>
            <div class="gallery-counter">
            </div>
        </div>
    </div>

</div>

<div id="gallery-modal" class="gallery-modal">
    <span class="close">&times;</span>
    <img class="gallery-modal-img" src="" alt="">
</div>