<div class="main-news container">
    <div class="block-title">Новости компании</div>

    <div class="swiper newsSwiper">
        <div class="swiper-wrapper">
            <a href="" class="main-news-card swiper-slide">
                <div class="main-news-card-img">
                    <img src="/src/assets/news/news-example.png" alt="News">
                </div>
                <div class="main-news-card-title">Заголовок новости</div>
                <div class="main-news-card-text">Оборудование, основанное на работе холодильных машин, предназначенное для автоматического поддержания
                    температуры и иных параметров воздуха в закрытых помещениях или термоизолированных камерах.</div>
                <span class="main-news-read-button">читать</span>
            </a>
            <a href="" class="main-news-card swiper-slide">
                <div class="main-news-card-img">
                    <img src="/src/assets/news/news-example.png" alt="News">
                </div>
                <div class="main-news-card-title">Заголовок новости</div>
                <div class="main-news-card-text">Оборудование, основанное на работе холодильных машин, предназначенное для автоматического поддержания
                    температуры и иных параметров воздуха в закрытых помещениях или термоизолированных камерах.</div>
                <span class="main-news-read-button">читать</span>
            </a>
            <a href="" class="main-news-card swiper-slide">
                <div class="main-news-card-img">
                    <img src="/src/assets/news/news-example.png" alt="News">
                </div>
                <div class="main-news-card-title">Заголовок новости</div>
                <div class="main-news-card-text">Оборудование, основанное на работе холодильных машин, предназначенное для автоматического поддержания
                    температуры и иных параметров воздуха в закрытых помещениях или термоизолированных камерах.</div>
                <span class="main-news-read-button">читать</span>
            </a>
            <a href="" class="main-news-card swiper-slide">
                <div class="main-news-card-img">
                    <img src="/src/assets/news/news-example.png" alt="News">
                </div>
                <div class="main-news-card-title">Заголовок новости</div>
                <div class="main-news-card-text">Оборудование, основанное на работе холодильных машин, предназначенное для автоматического поддержания
                    температуры и иных параметров воздуха в закрытых помещениях или термоизолированных камерах.</div>
                <span class="main-news-read-button">читать</span>
            </a>
            <a href="" class="main-news-card swiper-slide">
                <div class="main-news-card-img">
                    <img src="/src/assets/news/news-example.png" alt="News">
                </div>
                <div class="main-news-card-title">Заголовок новости</div>
                <div class="main-news-card-text">Оборудование, основанное на работе холодильных машин, предназначенное для автоматического поддержания
                    температуры и иных параметров воздуха в закрытых помещениях или термоизолированных камерах.</div>
                <span class="main-news-read-button">читать</span>
            </a>
            <a href="" class="main-news-card swiper-slide">
                <div class="main-news-card-img">
                    <img src="/src/assets/news/news-example.png" alt="News">
                </div>
                <div class="main-news-card-title">Заголовок новости</div>
                <div class="main-news-card-text">Оборудование, основанное на работе холодильных машин, предназначенное для автоматического поддержания
                    температуры и иных параметров воздуха в закрытых помещениях или термоизолированных камерах.</div>
                <span class="main-news-read-button">читать</span>
            </a>
            <a href="" class="main-news-card swiper-slide">
                <div class="main-news-card-img">
                    <img src="/src/assets/news/news-example.png" alt="News">
                </div>
                <div class="main-news-card-title">Заголовок новости</div>
                <div class="main-news-card-text">Оборудование, основанное на работе холодильных машин, предназначенное для автоматического поддержания
                    температуры и иных параметров воздуха в закрытых помещениях или термоизолированных камерах.</div>
                <span class="main-news-read-button">читать</span>
            </a>
            <a href="" class="main-news-card swiper-slide">
                <div class="main-news-card-img">
                    <img src="/src/assets/news/news-example.png" alt="News">
                </div>
                <div class="main-news-card-title">Заголовок новости</div>
                <div class="main-news-card-text">Оборудование, основанное на работе холодильных машин, предназначенное для автоматического поддержания
                    температуры и иных параметров воздуха в закрытых помещениях или термоизолированных камерах.</div>
                <span class="main-news-read-button">читать</span>
            </a>
            <a href="" class="main-news-card swiper-slide">
                <div class="main-news-card-img">
                    <img src="/src/assets/news/news-example.png" alt="News">
                </div>
                <div class="main-news-card-title">Заголовок новости</div>
                <div class="main-news-card-text">Оборудование, основанное на работе холодильных машин, предназначенное для автоматического поддержания
                    температуры и иных параметров воздуха в закрытых помещениях или термоизолированных камерах.</div>
                <span class="main-news-read-button">читать</span>
            </a>
        </div>

        <div class="main-news-panel">
            <a href="">
                <span class="icon icon-plus"></span>
                <div>все новости</div>
            </a>
            <div class="main-news-panel-buttons">
                <div id="main-news-button-prev" class="main-news-button-prev">
                    <span class="icon icon-triangle"></span>
                </div>
                <div id="main-news-button-next" class="main-news-button-next">
                    <span class="icon icon-triangle"></span>
                </div>
            </div>
        </div>
    </div>
</div>