<section class="main-news">
    <h1 class="block-title">Новости компании</h1>
    <section class="row justify-between container">
        <a href="" class="main-news-card">
            <div class="main-news-card-img">
                <img src="/src/assets/news/news-example.png">
            </div>
            <h5>Заголовок новости</h5>
            <p>Оборудование, основанное на работе холодильных машин, предназначенное для автоматического поддержания
                температуры и иных параметров воздуха в закрытых помещениях или термоизолированных камерах.</p>
            <p>читать</p>
        </a>
        <a href="" class="main-news-card">
            <div class="main-news-card-img">
                <img src="/src/assets/news/news-example.png">
            </div>
            <h5>Заголовок новости</h5>
            <p>Оборудование, основанное на работе холодильных машин, предназначенное для автоматического поддержания
                температуры и иных параметров воздуха в закрытых помещениях или термоизолированных камерах.</p>
            <p>читать</p>
        </a>
        <a href="" class="main-news-card">
            <div class="main-news-card-img">
                <img src="/src/assets/news/news-example.png">
            </div>
            <h5>Заголовок новости</h5>
            <p>Оборудование, основанное на работе холодильных машин, предназначенное для автоматического поддержания
                температуры и иных параметров воздуха в закрытых помещениях или термоизолированных камерах.</p>
            <p>читать</p>
        </a>
    </section>
    <div class="main-news-panel container">
        <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.18182 0.5V7.31818H15V8.68182H8.18182V15.5H6.81818V8.68182H0V7.31818H6.81818V0.5H8.18182Z" fill="white"/>
            </svg>
            <p>все новости</p>
        </a>
        <div class="main-news-panel-buttons">
            <button id="main-news-button-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11" fill="none">
                    <path d="M0 5.74985L8 0.75V10.75L0 5.74985Z" fill="#808080"/>
                </svg>
            </button>
            <button id="main-news-button-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11" fill="none">
                    <path d="M8 5.74985L4.76837e-07 0.75V10.75L8 5.74985Z" fill="#808080"/>
                </svg>

            </button>
        </div>
    </div>
</section>