<div class="products container-large">
    <div class="block-title">Наша продукция</div>
    <div class="product-container">
        <a class="product-card">
            <div>Шкафы холодильные</div>
            <img src="/src/assets/products/freezer_cabinet.png" alt="Шкафы холодильные">
        </a>
        <a class="product-card">
            <div>Холодильные лари</div>
            <img src="/src/assets/products/refrigerated_chest.png" alt="Холодильные лари">
        </a>
        <a class="product-card">
            <div>Пивоохладители</div>
            <img src="/src/assets/products/beer_cooler.png" alt="Пивоохладители">
        </a>
        <a class="product-card">
            <div>Морозильные лари</div>
            <img src="/src/assets/products/freezers.png" alt="Морозильные лари">
        </a>
    </div>
    <div class="products-buttons">
        <a href="" class="products-buttons-service">
            Сервисное и постгарантийное обслуживание
        </a>
        <a href="" class="products-buttons-details">
            Узнать подробнее
            <span class="icon icon-long-arrow"></span>
        </a>
    </div>
</div>