<section class="products">
    <h1 class="block-title">Наша продукция</h1>
    <section>
        <div class="product-card">
            <h3>Шкафы холодильные</h3>
            <img src="src/assets/products/freezer_cabinet.png" alt="Шкафы холодильные">
        </div>
        <div class="product-card">
            <h3>Холодильные лари</h3>
            <img src="src/assets/products/refrigerated_chest.png" alt="Холодильные лари">
        </div>
        <div class="product-card">
            <h3>Пивоохладители</h3>
            <img src="src/assets/products/beer_cooler.png" alt="Пивоохладители">
        </div>
        <div class="product-card">
            <h3>Морозильные лари</h3>
            <img src="src/assets/products/freezers.png" alt="Морозильные лари">
        </div>
    </section>
</section>