.articles {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    background: #000000;
}

.articles-block {
    position: relative;
    width: 25%;
    height: 780px;
    min-width: 25%;
    background-color: #000000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.articles-block-left {
    justify-content: flex-end;
    z-index: 5;
}

.articles-block-expanded {
    min-width: 35%;
}

.articles-title {
    margin: 50px auto 0;
    max-height: 44px;
    max-width: 90%;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    z-index: 3;
}

.articles-block-expanded .articles-title {
    margin: 50px 30px 0;
    max-width: 100%;
}

.articles-title-text {
    color: #FFF;
    font-family: Molot, serif;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
    letter-spacing: 0.18px;
    text-transform: uppercase;
}

.articles-title .icon {
    font-size: 30px;
}

.articles-block .articles-block-background {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%; /* Максимальная ширина будет равна ширине родительского элемента */
    max-height: 100%; /* Максимальная высота будет равна высоте родительского элемента */
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    mix-blend-mode: luminosity;
    transition: all 0.5s ease-in-out;
}

.articles-block:hover .articles-block-background, .articles-block-expanded .articles-block-background  {
    mix-blend-mode: initial;
}

.articles-glass-background {
    background-image: url("/src/assets/articles/glass.png");
    background-position-y: bottom;
}

.articles-block:hover .articles-glass-background, .articles-block-expanded .articles-glass-background{
    background-image: url("/src/assets/articles/glass-hover.gif");
}

.articles-block .articles-light-background {
    background-image: url("/src/assets/articles/lights.png");
    background-position-y: center;
}

.articles-block:hover .articles-light-background, .articles-block-expanded .articles-light-background {
    background-image: url("/src/assets/articles/lights-hover.gif");
}

.articles-block .articles-preservation-background {
    background-image: url("/src/assets/articles/preservation.png");
    background-position-y: top;
    background-size: cover;
}

.articles-block:hover .articles-preservation-background, .articles-block-expanded .articles-preservation-background {
    background-image: url("/src/assets/articles/preservation-hover.gif");
}

.articles-cooling-background {
    background-image: url("/src/assets/articles/cooling.png");
    background-position-y: center;
}

.articles-block:hover .articles-cooling-background, .articles-block-expanded .articles-cooling-background {
    background-image: url("/src/assets/articles/cooling-hover.gif");
}

.articles-block-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.6);
    padding: 70px 30px;
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: Onest, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 28px */
    letter-spacing: 0.2px;
    z-index: 1;
    opacity: 0; /* Начальное значение непрозрачности */
    transition: all 0.3s ease-in-out;
}

.articles-block-expanded .articles-block-text {
    opacity: 1; /* Устанавливаем полную непрозрачность при раскрытии блока */
}

.articles-block-text span {
    opacity: 0;
    transition-duration: .3s;
    transition-delay: 0.3s;
}

.articles-block-expanded .articles-block-text span {
    opacity: 1;
    transition-duration: 0s;
}

.articles-read-button {
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 20px 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.articles-read-button:before {
    content: "";
    width: 10px;
    height: 1px;
    background: #E12026;
    transition: all 0.3s ease-in-out;
}

.articles-read-button:after {
    content: "Читать";
    color: #FFF;
    font-family: Raleway, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
    text-transform: uppercase;
}

.articles-block-expanded .articles-read-button:after {
    content: "Закрыть";
}

.articles-read-expanded .articles-read-button:before {
    width: 100%;
}

.articles-block:hover .articles-read-button:before {
    width: 100%;
}

@media screen and (max-width: 1390px) {
    .articles {
        flex-wrap: wrap;
    }

    .articles-block {
        width: 50%;
        min-width: auto;
    }

    .articles-block-left {
        justify-content: normal;
    }
}

@media screen and (max-width: 990px) {
    .articles-block {
        width: 100%;
    }
}

/* Настройка шрифтов на странице */
@media (max-width: 320px) {
    .articles-title .articles-title-text {
        font-size: 18px;
    }

    .articles .articles-block .articles-block-text {
        font-size: 14px;
    }

    .articles-block {
        height: calc(430px + (700 - 430) * ((100vw - 320px) / (1440 - 320)));
    }
}

@media (min-width: 321px) and (max-width: 1439px) {
    .articles-title .articles-title-text {
        font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1440 - 320)));
    }

    .articles-block .articles-block-text {
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1440 - 320)));
    }

    .articles-block {
        height: calc(430px + (550 - 430) * ((100vw - 320px) / (1440 - 320)));
    }
}

@media (min-width: 1440px) {
    .articles-title .articles-title-text {
        font-size: 20px;
        max-width: 85%;
    }

    .articles-block .articles-block-text {
        font-size: 18px;
    }

    .articles-block {
        height: 780px;
    }
}