.main-banner {
    background: #000000;
    mix-blend-mode: lighten;
    height: 900px;
    flex-shrink: 0;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.main-banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/src/assets/banner/banner-bg.png") lightgray 50% / cover no-repeat;
    mix-blend-mode: lighten;
    opacity: 0.12;
}

.main-banner .container-large {
    position: relative;
    height: 100%;
}

.banner-title-block {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    padding-top: 115px;
    z-index: 3;
    padding-left: 80px;
}

.banner-title {
    color: #FFF;
    font-family: Molot, serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 123.2px */
    letter-spacing: 1.76px;
    z-index: 5;
    text-transform: uppercase;
}

.banner-description {
    display: none;
}

.banner-title-block .row {
    margin-top: 50px;
    gap: 30px;
    z-index: 5;
}

.banner-title-block .row .button-production {
    background: #FFF;
    color: #202020;
}

.banner-title-block .row .button-production .icon:before {
    font-size: 18px;
    color: #202020;
    font-weight: 600;
}

.banner-title-block .row .button-production:hover {
    background: #E12026;
    color: #FFF;
}

.banner-title-block .row .button-production:hover .icon:before {
    color: #FFF;
}

.banner-title-block .row .button-feedback {
    border-bottom: 2px solid #E12026;
    background-color: transparent;
}

.banner-title-block .row .button-feedback .icon:before {
    font-size: 14px;
}

.banner-title-block .row .button-feedback:hover {
    background-color: #FFF;
}

.banner-circle {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50px;
    right: 450px;
}

.banner-circle img:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-circle:before {
    content: "";
    width: 16.5px;
    height: 16.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(105deg);
    background-color: #E12026;
}

.banner-advantages {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    max-width: 1312px;
    width: 100%;
    background: #151515;
    left: 0;
    bottom: 0;
    z-index: 3;
    padding-left: 80px;
}

.banner-advantages-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}

.banner-advantages-element .banner-advantages-element-image {
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
    height: 80px;
    position: relative;
}

.banner-advantages-element .banner-advantages-element-image img {
    transition: all 0.2s ease-in-out;
}

.banner-advantages-element:hover .banner-advantages-element-image {
    filter: none;
}

.banner-advantages-element:first-child .banner-advantages-element-image:before {
    content: '';
    background: #0077B5;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(40px);
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

.banner-advantages-element:first-child:hover .banner-advantages-element-image:before {
    transform: translateY(0);
}

.banner-advantages-element:nth-child(2) .banner-advantages-element-image:before {
    content: "\e925";
    color: #151515;
    font-family: 'hladoteka' !important;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color 0.2s ease-in-out;
}

.banner-advantages-element:nth-child(2):hover .banner-advantages-element-image:before {
    color: #E12026;
}

.banner-advantages-element:nth-child(2) .banner-advantages-element-image svg {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 110px;
    transition: all 0.2s ease-in-out;
}

.banner-advantages-element:nth-child(2) .banner-advantages-element-image svg:first-child {
    top: 0;
}

.banner-advantages-element:nth-child(2) .banner-advantages-element-image svg:nth-child(2) {
    opacity: 0;
}

.banner-advantages-element:nth-child(2) .banner-advantages-element-image svg:last-child {
    bottom: 0;
}

.banner-advantages-element:nth-child(2):hover .banner-advantages-element-image svg:first-child {
    transform: translateX(-46.5%);
}

.banner-advantages-element:nth-child(2):hover .banner-advantages-element-image svg:nth-child(2) {
    opacity: 1;
}

.banner-advantages-element:nth-child(2):hover .banner-advantages-element-image svg:last-child {
    transform: translateX(-53.5%);
}

.banner-advantages-element:last-child .banner-advantages-element-image svg {
    display: none;
    position: absolute;
    bottom: 0;
}

.banner-advantages-element:last-child:hover .banner-advantages-element-image svg {
    display: block;
}

.banner-advantages-element:last-child:hover .banner-advantages-element-image img {
    transform: translateY(-10px);
}



.banner-advantages-element .banner-advantages-element-text {
    color: #FFF;
    font-family: Onest;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
    letter-spacing: 0.4px;
}

.main-banner .container-large:before {
    content: "";
    width: 100%;
    height: 250px;
    left: -50%;
    background: #151515;
    position: absolute;
    bottom: 0;
}

.banner-square {
    position: absolute;
    width: 100%;
    height: 128px;
    background: #E12026;
    bottom: 0;
    right: 0;
}

.main-banner .container-large:after {
    content: "";
    width: 128%;
    height: 128px;
    background: #E12026;
    position: absolute;
    bottom: 0;
}

.banner-fridge {
    position: absolute;
    right: 0;
    bottom: 3vw;
    z-index: -10;
    box-shadow: -2px 10px 30px 0px #000;
}

.banner-triangle {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.banner-triangle svg:first-child {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.banner-triangle svg:last-child {
    position: absolute;
    right: -1.5%;
    bottom: 0;
    z-index: 0;
}


@media screen and (max-width: 990px) {
    .main-banner {
        height: 1480px;
    }

    .banner-title-block {
        padding: 0 15px;
        margin: 50px auto 40px;
    }

    .banner-title {
        font-size: 36px;
        line-height: 120%; /* 43.2px */
        text-align: center;
        margin-bottom: 20px;
    }

    .banner-description {
        color: #FFF;
        display: block;
        text-align: center;
        font-family: Onest;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 21px */
        align-self: stretch;
        z-index: 2;
    }

    .banner-title-buttons .button {
        width: 100%;
    }

    .banner-fridge {
        bottom: auto;
        top: 27%;
        width: 190px;
        height: 278px;
    }

    .banner-circle {
        top: 430px;
        right: 50%;
    }

    .banner-triangle {
        width: 50%;
        height: 50%;
        top: -50px;
        bottom: auto;
        right: -55%;
    }

    .banner-triangle svg {
        width: 170%;
        height: 170%;
        z-index: 0;
        transform: rotate(350deg);
    }

    .banner-triangle svg:last-child {
        right: -8%;
    }

    .banner-advantages {
        flex-direction: column;
        gap: 60px;
        height: 800px;
        padding: 100px 15px;
        bottom: 50px;
    }

    .banner-advantages-element {
        flex-direction: column;
        gap: 30px;
    }

    .banner-advantages-element .banner-advantages-element-text {
        text-align: center;
    }
}

/* FONTS */

@media (max-width: 320px) {
    .banner-title {
        font-size: 36px;
    }
}

@media (min-width: 321px) and (max-width: 1440px) {
    .banner-title {
        font-size: calc(36px + (88 - 36) * ((100vw - 320px) / (1440 - 320)));
    }
}

@media (min-width: 1441px) {
    .banner-title {
        font-size: 88px;
    }
}