.onest-regular {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Molot';
    src: url('../assets/fonts/Molot.eot');
    src: local('Molot'),
    url('../assets/fonts/Molot.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Molot.woff2') format('woff2'),
    url('../assets/fonts/Molot.woff') format('woff'),
    url('../assets/fonts/Molot.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Molot';
    src: url('../assets/fonts/Molot.eot');
    src: local('Molot'),
    url('../assets/fonts/Molot.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Molot.woff2') format('woff2'),
    url('../assets/fonts/Molot.woff') format('woff'),
    url('../assets/fonts/Molot.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hladoteka';
    src:  url('../assets/fonts/icons/hladoteka.eot?avck5b');
    src:  url('../assets/fonts/icons/hladoteka.eot?avck5b#iefix') format('embedded-opentype'),
    url('../assets/fonts/icons/hladoteka.ttf?avck5b') format('truetype'),
    url('../assets/fonts/icons/hladoteka.woff?avck5b') format('woff'),
    url('../assets/fonts/icons/hladoteka.svg?avck5b#hladoteka') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'hladoteka' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-beer-cooler:before {
    content: "\e900";
}
.icon-cancel .path1:before {
    content: "\e901";
    color: rgb(225, 32, 38);
}
.icon-cancel .path2:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-cancel .path3:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-cold-boxes:before {
    content: "\e904";
}
.icon-comparison:before {
    content: "\e905";
    color: #606060;
}
.icon-comparison-hover:before {
    content: "\e906";
    color: #0084bf;
}
.icon-control .path1:before {
    content: "\e907";
    color: rgb(255, 255, 255);
}
.icon-control .path2:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(225, 32, 38);
}
.icon-freezing:before {
    content: "\e909";
    color: #0084bf;
}
.icon-fridge:before {
    content: "\e90a";
    color: #e12026;
}
.icon-future-equipment .path1:before {
    content: "\e90b";
    color: rgb(225, 32, 38);
}
.icon-future-equipment .path2:before {
    content: "\e90c";
    margin-left: -1em;
    color: rgb(0, 132, 191);
}
.icon-future-equipment .path3:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-halfarrow:before {
    content: "\e90e";
    color: #808080;
}
.icon-heart:before {
    content: "\e90f";
    color: #606060;
}
.icon-linkedin:before {
    content: "\e910";
    color: #fff;
}
.icon-long-arrow:before {
    content: "\e911";
    color: #fff;
}
.icon-mail:before {
    content: "\e912";
    color: #e12026;
}
.icon-marker:before {
    content: "\e913";
    color: #e12026;
}
.icon-person:before {
    content: "\e914";
    color: #e12026;
}
.icon-phone:before {
    content: "\e915";
    color: #e12026;
}
.icon-plus:before {
    content: "\e916";
}
.icon-preservation .path1:before {
    content: "\e917";
    color: rgb(225, 32, 38);
}
.icon-preservation .path2:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(0, 132, 191);
}
.icon-production-box:before {
    content: "\e919";
    color: #e12026;
}
.icon-search:before {
    content: "\e91a";
    color: #606060;
}
.icon-specialist:before {
    content: "\e91b";
    color: #e12026;
}
.icon-square:before {
    content: "\e91c";
    color: #e12026;
}
.icon-triangle:before {
    content: "\e91d";
    color: #fff;
}
.icon-triple-d:before {
    content: "\e91e";
    color: #fff;
}
.icon-upload:before {
    content: "\e91f";
    color: #e12026;
}
.icon-vk:before {
    content: "\e920";
}
.icon-wastebasket:before {
    content: "\e921";
    color: #c0c0c0;
}
.icon-x-close:before {
    content: "\e922";
}
.icon-youtube:before {
    content: "\e923";
    color: #fff;
}
.icon-old-cabinets:before {
    content: "\e924";
}