.footer {
    background-color: #F5F5F5;
}

.footer-main {
    justify-content: space-between;
    padding: 60px 0;
}

.footer-contacts-logo {
    max-width: 264px;
    margin-bottom: 30px;
}

.footer-contacts-logo p {
    font-family: Onest, serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #808080;
    margin-top: 12px;
}

.footer-contacts-main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-contacts-main div a {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #404040;
    font-family: Onest;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 21.6px */
    transition: color 0.3s ease-in-out;
}

.footer-contacts-main div:hover a {
    color: #E12026
}

.footer-contacts-main div a .icon, .footer-contacts-main div .icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: min-content;
}

.footer-contacts-main div a .icon:before, .footer-contacts-main div .icon  {
    font-size: 18px;
    color: #E12026;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contacts-main .row:nth-child(2) {
    align-items: center;
    gap: 10px;
}

.footer-contacts-main div a .icon-mail:before {
    font-size: 13px;
}

.footer-contacts-main div .footer-contacts-main-phone {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-contacts-main-phone {
    font-size: 16px;
}

.footer-contacts-main-phone span {
    color: #404040;
    font-family: Onest;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
}

.footer-contacts-main-address {
    font-size: 15px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-menu-title {
    font-family: Onest, serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    color: #808080;
}

.footer-menu-title .icon {
    display: none;
}

.footer-menu ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-menu ul li a {
    color: #404040;
    font-size: 16px;
    line-height: 120%; /* 19.2px */
    font-weight: 400;
    font-family: Onest, serif;
    transition: color 0.3s ease-in-out;
}

.footer-menu ul li a:hover {
    color: #E12026;
}

.footer-copyright {
    height: 77px;
    background-color: #E12026;
    color: white;
    display: flex;
    justify-content: center;
}

.footer-copyright .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-copyright-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.footer-copyright div a, .footer-copyright div {
    font-family: Onest, serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: #FFF;
    transition: color 0.3s ease-in-out;
}

.footer-copyright-info a span {
    text-decoration: underline;
}

.footer-copyright a span:before {
    font-size: 18px;
    fill: white;
    transition: color 0.3s ease-in-out;
}

.footer-copyright .social-links a:hover span:before {
    color: #404040;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.footer-copyright div a:hover {
    color: #000000;
}


@media screen and (max-width: 990px) and (min-width: 701px) {
    .footer-copyright {
        margin-bottom: 59px;
    }
}


@media screen and (max-width: 700px) {
    .footer .footer-main {
        flex-direction: column;
    }

    .footer-contacts-logo {
        width: auto;
    }

    .footer-company {
        margin-top: 30px;
    }

    .footer-menu ul {
        display: none;
        margin-bottom: 20px;
    }

    .footer-menu-title {
        margin: 12px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-menu-title .icon {
        display: block;
        height: 8px;
        line-height: 8px;
        transform: rotate(180deg);
        transition: all 0.3s ease-in-out;
    }

    .footer-menu-title .icon:before {
        font-size: 8px;
        color: #404040;
        display: block;
    }

    .footer-copyright {
        margin-bottom: 59px;
        height: max-content;
    }

    .footer-copyright .container {
        flex-direction: column;
        margin: 30px 0;
    }

    .footer-copyright-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .social-links {
        margin: 20px 0 0;
    }

    .container.footer-main {
        padding: 60px 0;
    }

    .footer-contacts {
        padding: 0 15px;
    }

    .footer-menu {
        padding: 0 15px;
        border-bottom: 1px solid #F0F0F0;
    }
}

