.gallery .block-title {
    margin: 164px auto 60px;
}

.gallerySwiper .swiper-wrapper .gallery-photo {
    height: 660px;
    width: auto;
    max-width: 100%;
    overflow: hidden;
}

.gallery-photo {
    position: relative;
}

.gallery-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.gallery-photo .icon {
    display: inline-flex;
    height: 35px;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.80);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.gallery-photo .icon:before {
    color: #E12026;
}

.gallery-photo:hover .icon {
    opacity: 1;
}

.gallery-panel {
    display: flex;
    margin-top: 6px;
}

.gallery-panel a {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: max-content;
    background-color: #E12026;
    color: #FFF;
    font-family: Onest, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    text-transform: uppercase;
    gap: 10px;
    height: 80px;
    transition: all 0.3s ease-in-out;
}

.gallery-panel a:hover {
    background-color: #101010;
}

.gallery-panel a .icon {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gallery-panel a .icon:before {
    font-size: 15px;
}

.gallery-panel button {
    width: 80px;
    height: 80px;
    background-color: #101010;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.gallery-panel button:hover {
    background-color: #E12026;
}

.gallery-button-prev {
    transform: rotate(-90deg);
}

.gallery-button-next {
    transform: rotate(90deg);
}

.gallery-counter {
    background-color: #101010;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 230px;
    text-align: center;
    color: #FFF;
    font-family: Molot, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 36px */
}

@media screen and (max-width: 800px) {
    .gallery .gallerySwiper .swiper-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .gallery-panel a {
        width: 100%;
        flex: auto;
    }

    .gallery-counter {
        flex: 1;
    }

    .gallery .block-title {
        text-align: start;
        padding-left: 15px;
    }
}

@media screen and (max-width: 400px){

    .gallerySwiper .swiper-wrapper .gallery-photo {
        height: 300px;
    }

    .gallery-panel {
        margin-top: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .gallery-panel:before, .gallery-panel:after {
        content: "";
        width: 100%;
        height: 80px;
        background: #101010;
        position: absolute;
        z-index: -1;
    }

    .gallery-panel:before {
        left: -50%;
    }

    .gallery-panel:after {
        right: -50%;
    }
}

.gallery-modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding: 60px 0;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gallery-modal-img {
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

