/* HEADER */
.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #F0F0F0;
}

.top-menu {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Onest", sans-serif;
    font-size: 14px;
}
.menu-icon li:not(:last-child) a {
    width: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-width: 0 1px;
    border-color: #F0F0F0;
}

/* Отступ между иконкой и надписью "Личный кабинет" */
.menu-icon li:last-child a img {
    margin-right: 10px;
    margin-left: 50px;
}

.top-bar-menu li:not(:last-child) {
    margin-right: 40px;
}
