@import "fonts.css";
@import "ux-styles.css";
@import "./header/header.css";
@import "about-goal.css";
@import "about-numbers.css";
@import "articles.css";
@import "footer.css";
@import "products.css";
@import "video-preview.css";
@import "gallery.css";
@import "news.css";
@import "feedback-form.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

button {
    border: none;
    outline: none;
}

.block-title {
    font-family: Molot, serif;
    font-size: 64px;
    background: linear-gradient(90deg, rgba(111,117,128,1) 0%, rgba(77,87,105,1) 100%);
    background-clip: text;
    color: transparent;
    text-align: center;
}

input {
    all: unset;
}

@media screen and (max-width: 1279px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 990px) {
}