@import "fonts.css";
@import "reset.css";
@import "ux-styles.css";
@import "./header/header.css";
@import "banner.css";
@import "about-goal.css";
@import "about-numbers.css";
@import "articles.css";
@import "footer.css";
@import "products.css";
@import "video-preview.css";
@import "gallery.css";
@import "news.css";
@import "feedback-form.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

button {
    border: none;
    outline: none;
}

input {
    all: unset;
}

@media screen and (max-width: 1279px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}