.main-news {
    margin: 120px auto 181px ;
}

.main-news .block-title {
    margin-bottom: 40px;
}

.swiper.container {
    padding-left: 15px;
    padding-right: 15px;
}

.main-news .newsSwiper {
    display: flex;
    flex-direction: column;
}

.swiper-wrapper .main-news-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #F8F8F8;
    box-sizing: border-box;
}

.main-news-card-img {
    position: relative;
    display: flex;
    margin: 0 auto;
}

.main-news-card-img::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: -5px;
    width: 73px;
    height: 73px;
    background-color: #F8F8F8;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    transform: rotate(270deg);
}

.main-news-card-img img {
    display: block;
    width: 100%;
    height: auto;
}

.swiper-wrapper .main-news-card, .main-news-card .main-news-card-img::before {
    transition: all 0.3s ease-in-out;
}

.main-news-card:hover, .main-news-card:hover .main-news-card-img::before {
    background-color: #E12026;
}

.main-news-card .main-news-card-text, .main-news-card .main-news-card-title, .main-news-card .main-news-read-button {
    transition: color 0.3s ease-in-out;
}

.main-news-card:hover .main-news-card-text, .main-news-card:hover .main-news-card-title, .main-news-card:hover .main-news-read-button {
    color: white;
}

.main-news-card .main-news-card-title {
    color: #404040;
    font-family: Onest, serif;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    margin-top: 20px;
    margin-bottom: 10.5px;
}

.main-news-card .main-news-card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify-all;
    color: #808080;
    font-family: Onest, serif;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 19.6px */
    width: 100%;
    align-self: stretch;
}

.main-news-card .main-news-read-button {
    color: #808080;
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    margin-top: 20px;
    height: auto;
}

.main-news-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.main-news-panel a .icon:before {
    font-size: 15px;
    color: #E12026;
    font-weight: 600;
}

.main-news-panel a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: 8px;
    color: #202020;
    font-family: Onest, serif;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.main-news-panel-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.main-news-panel-buttons div {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 25px;
    background: #F0F0F0;
    transition: all 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-news-panel .main-news-panel-buttons div .icon {
    height: 10px;
    position: relative;
}

.main-news-panel .main-news-panel-buttons div .icon:before {
    color: #808080;
    font-size: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.main-news-panel .main-news-panel-buttons div:hover  {
    background: #E12026;
}

.main-news-panel .main-news-panel-buttons div:hover .icon:before {
    color: #FFF;
}

#main-news-button-prev {
    transform: rotate(-90deg);
}

#main-news-button-next {
    transform: rotate(90deg);
}

@media screen and (max-width: 800px) {

    .main-news-card .main-news-card-text {
        font-style: normal;
        font-weight: 300;
        line-height: 140%; /* 9.8px */
    }

    .main-news-panel-buttons {
        display: none;
    }

    .main-news .newsSwiper {
        flex-direction: column-reverse;
    }

    .main-news .block-title {
        margin-bottom: 0;
        text-align: start;
    }

    .main-news-panel {
        margin: 20px 0;
    }

    .main-news-card .main-news-card-title {
        font-weight: 700;
        line-height: 120%; /* 12px */
        margin-top: 10px;
    }

    .swiper-wrapper .main-news-card {
        padding: 10px;
    }

    .main-news-card .main-news-read-button {
        margin-top: 10px;
    }
}

@media (max-width: 320px) {
    .main-news-card-title {
        font-size: 10px;
    }

    .main-news-card-text {
        font-size: 7px;
    }

    .main-news-read-button {
        font-size: 6px;
    }
}

@media (min-width: 321px) and (max-width: 1440px) {
    .main-news-card-title {
        font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1440 - 320)));
    }

    .main-news-card-text {
        font-size: calc(7px + (14 - 7) * ((100vw - 320px) / (1440 - 320)));
    }

    .main-news-read-button {
        font-size: calc(6px + (12 - 6) * ((100vw - 320px) / (1440 - 320)));
    }
}

@media (min-width: 1441px) {
    .main-news-card-title {
        font-size: 20px;
    }

    .main-news-card-text {
        font-size: 14px;
    }

    .main-news-read-button {
        font-size: 12px;
    }
}