.video-preview {
    width: 100%;
    height: 780px;
    position: relative;
    margin-top: -4%;
}
.video-preview img {
    width: 100%;
    z-index: 2;
}

#playPauseBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    -webkit-transition: opacity .25s cubic-bezier(0,0,.2,1);
    transition: opacity .25s cubic-bezier(0,0,.2,1);
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #FFF;
    transform: rotate(90deg);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playPauseBtn:before {
    content: '';
    width: 80%;
    height: 80%;
    position: absolute;
    bottom: 9%;
    border: 1px solid #e12026;
    border-radius: 50%;
    clip-path: circle(70% at center bottom);
    transition: clip-path 0.5s ease-in-out; /* Добавляем анимацию перехода для clip-path */
}

#playPauseBtn:hover:before {
    clip-path: circle(100% at center bottom); /* Изменяем clip-path при наведении */
}


#playPauseBtn .icon:before {
    color: #E12026
}

.video-preview {
    display: flex;
    width: 100%;
    background-color: #151515;
}

.video-preview .player-preview {
    width: 100%;
    background-image: url("/src/assets/about/video-preview.png");
}

.video-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.video-popup.active {
    display: flex;
}

.video-container {
    position: relative;
    width: 70%;
    height: 70%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


#close-video-popup {
    position: absolute;
    top: -50px;
    right: -50px;
    cursor: pointer;
}

#close-video-popup:before {
    font-size: 30px;
    color: white;
    z-index: 1000;
}


@media (max-width: 320px) {
    .video-preview {
        height: 320px;
    }
}

@media (min-width: 321px) and (max-width: 1439px) {
    .video-preview {
        height: calc(50vw + 130px);
    }
}

@media (min-width: 1440px) {
    .video-preview {
        height: 780px;
    }
}

@media (max-width: 768px) {
    .video-container {
        width: 90%; /* Уменьшаем ширину на мобильных устройствах */
        height: 40%; /* Уменьшаем высоту на мобильных устройствах */
    }

    #close-video-popup {
        top: -50px;
        right: 0;
    }
}

