.video-preview {
    width: 100%;
    height: 780px;
    position: relative;
    margin-top: -4%;
}

.video-preview img {
    width: 100%;
    z-index: 2;
}

#playPauseBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    -webkit-transition: opacity .25s cubic-bezier(0,0,.2,1);
    transition: opacity .25s cubic-bezier(0,0,.2,1);
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #FFF;
}

#playPauseBtn .icon-triangle {
    transform: rotate(180deg);
}

#playPauseBtn .icon:before {
    color: #E12026
}

.ytp-button {
    display: none!important;
}

