.video-preview {
    width: 100%;
    height: 780px;
    position: relative;
    margin-top: -4%;
}
.video-preview img {
    width: 100%;
    z-index: 2;
}

#playPauseBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    -webkit-transition: opacity .25s cubic-bezier(0,0,.2,1);
    transition: opacity .25s cubic-bezier(0,0,.2,1);
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #FFF;
    transform: rotate(90deg);
}

#playPauseBtn:after {
    content: '';
    width: 80%;
    height: 80%;
}

#playPauseBtn .icon-triangle {
    transform: rotate(180deg);
}

#playPauseBtn .icon:before {
    color: #E12026
}

.ytp-button {
    display: none!important;
}

.video-preview {
    display: flex;
    width: 100%;
    background-color: #151515;
}

.video-preview .container-large {
    width: 100%;
}

@media (max-width: 320px) {
    .video-preview {
        height: 320px;
    }
}

@media (min-width: 321px) and (max-width: 1439px) {
    .video-preview {
        height: calc(50vw + 130px);
    }
}

@media (min-width: 1440px) {
    .video-preview {
        height: 780px;
    }
}

