.products-list-card-swiper {
    height: 260px;
    overflow: hidden;
}

.products-list-card-swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.products-list-card-swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.products-list-swiper-pagination {
    position: absolute;
    bottom: 0;
    z-index: 3;
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    padding: 0 13px;
}

.products-list-swiper-pagination .swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.9);
    height: 2px;
    flex: 1 0 0;
    margin: 0!important;
    border-radius: 0;
}

.products-list-swiper-pagination .swiper-pagination-bullet-active {
    background-color: #E12026;
}