.products-list-card-buttons {
    display: flex;
    flex-direction: row;

}

.products-list-card-buttons button{
    display: flex;
    height: 46px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    background: rgba(255, 255, 255, 0.01);
    gap: 10px;
    color: #404040;
    font-family: Onest, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    cursor: pointer;
    border: 1px solid #F0F0F0;
    position: relative;
    transition: color .3s ease-in-out;
}

.products-list-card-buttons button:hover, .products-list-card-buttons button:hover .icon:before {
    color: #FFF;
}

.products-list-card-buttons button .icon:before {
    color: #404040;
    transition: all .3s ease-in-out;
}

.products-list-card-buttons .product-to-open .icon-triangle{
    rotate: 90deg;
    font-size: 8px;
}

.products-list-card-buttons :after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    transition: all .3s ease-in-out;
    z-index: -1;
}

.products-list-card-buttons button:hover:after {
    height: 100%;
}

.products-list-card-buttons .product-to-comparison:after {
    background-color: #0077B5;
}

.products-list-card-buttons .product-to-open:after {
    background-color: #E12026;
}