<footer class="footer">
    <div class="row container footer-main">
        <div class="footer-contacts">
            <header>
                <img src="src/assets/logo.svg" alt="Хладотека">
                <p>Профессиональное оборудование для предприятий общественного питания и торговли</p>
            </header>
            <main>
                <div class="row">
                    <img src="src/assets/footer/email_icon.svg" alt="email">
                    <p>office@.ru</p>
                </div>
                <div class="row">
                    <img src="src/assets/footer/phone_icon.svg" alt="phone">
                    <p>+7 (999) 909-09-90 <br> <span>(звонок по России бесплатный)</span></p>
                </div>
                <div class="row">
                    <img src="src/assets/footer/marker_icon.svg" alt="location">
                    <p>Россия, </p>
                </div>
            </main>
        </div>
        <div class="footer-company footer-menu">
            <h5>Компания</h5>
            <ul>
                <li>
                    <a href="">О компании</a>
                </li>
                <li>
                    <a href="">Контакты</a>
                </li>
                <li>
                    <a href="">Статьи</a>
                </li>
                <li>
                    <a href="">Новости</a>
                </li>
                <li>
                    <a href="">Отзывы</a>
                </li>
                <li>
                    <a href="">Вакансии</a>
                </li>
            </ul>
        </div>
        <div class="footer-clients footer-menu">
            <h5>Клиентам</h5>
            <ul>
                <li>
                    <a href="">Личный кабинет</a>
                </li>
                <li>
                    <a href="">Стать партнером</a>
                </li>
                <li>
                    <a href="">Статьи</a>
                </li>
            </ul>
        </div>
        <div class="footer-production footer-menu">
            <h5>Продукция</h5>
            <ul>
                <li>
                    <a href="">Холодильные шкафы</a>
                </li>
                <li>
                    <a href="">Холодильные лари</a>
                </li>
                <li>
                    <a href="">Пивоохладители</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container row">
            <div class="row">
                <p>Ⓒ 2023 Все права защищены</p>
                <p>Обработка персональных данных</p>
                <p>Политика конфиденциальности</p>
                <p><a href=""><span class="kuratov-link">Создание сайта</span> - kuratov.ru</a></p>
            </div>
            <ul class="social-links row">
                <li>
                    <a href="">
                        <img src="src/assets/footer/social_vk_icon.png" alt="vk">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="src/assets/footer/social_yt_icon.png" alt="youtube">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="src/assets/footer/social_in_icon.png" alt="linkedin">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>