<footer class="footer">
    <div class="row container footer-main">
        <div class="footer-contacts">
            <div class="footer-contacts-logo">
                <img src="src/assets/logo.svg" alt="Хладотека">
                <p>Профессиональное оборудование для предприятий общественного питания и торговли</p>
            </div>
            <div class="footer-contacts-main">
                <div class="row">
                    <a href="mailto:office@.ru">
                        <span class="icon icon-mail"></span>
                        office@.ru
                    </a>
                </div>
                <div class="row">
                    <a href="tel:+79999090990">
                        <span class="icon icon-phone"></span>
                        <div class="footer-contacts-main-phone">
                            +7 (999) 909-09-90 <br> <span>(звонок по России бесплатный)</span>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="#">
                        <span class="icon icon-marker"></span>
                        <span class="footer-contacts-main-address">Россия,</span>
                    </a>
                </div>
            </div>
        </div>
        <nav class="footer-company footer-menu" id="companyMenu">
            <span class="footer-menu-title">Компания <span class="icon icon-triangle dropdown-icon"></span> </span>
            <ul>
                <li>
                    <a href="">О компании</a>
                </li>
                <li>
                    <a href="">Контакты</a>
                </li>
                <li>
                    <a href="">Статьи</a>
                </li>
                <li>
                    <a href="">Новости</a>
                </li>
                <li>
                    <a href="">Отзывы</a>
                </li>
                <li>
                    <a href="">Вакансии</a>
                </li>
            </ul>
        </nav>
        <nav class="footer-clients footer-menu" id="clientsMenu">
            <span class="footer-menu-title">Клиентам <span class="icon icon-triangle dropdown-icon"></span> </span>
            <ul>
                <li>
                    <a href="">Личный кабинет</a>
                </li>
                <li>
                    <a href="">Стать партнером</a>
                </li>
                <li>
                    <a href="">Статьи</a>
                </li>
            </ul>
        </nav>
        <nav class="footer-production footer-menu" id="productionMenu">
            <span class="footer-menu-title">Продукция <span class="icon icon-triangle dropdown-icon"></span> </span>
            <ul>
                <li>
                    <a href="">Холодильные шкафы</a>
                </li>
                <li>
                    <a href="">Холодильные лари</a>
                </li>
                <li>
                    <a href="">Пивоохладители</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="footer-copyright-info">
                <p>Ⓒ 2023 Все права защищены</p>
                <p>Обработка персональных данных</p>
                <p>Политика конфиденциальности</p>
                <p><a href=""><span class="kuratov-link">Создание сайта</span> - kuratov.ru</a></p>
            </div>
            <ul class="social-links">
                <li>
                    <a href="">
                        <img src="src/assets/footer/social_vk_icon.png" alt="vk">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="src/assets/footer/social_yt_icon.png" alt="youtube">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="src/assets/footer/social_in_icon.png" alt="linkedin">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>