<div class="container">
    <div class="button button-production">
        Продукция
        <span class="icon icon-long-arrow"></span>
    </div>
    <br>
    <br>
    <div class="button button-feedback">
        Обратная связь
        <span class="icon icon-mail"></span>
    </div>
    <br>
    <br>
    <div class="button button-form">
        Оставить заявку
        <span class="icon icon-long-arrow"></span>
    </div>
    <p class="text-p">
        Наша цель - предоставить высококачественные и надежные решения для хранения и охлаждения продуктов.
        Наше оборудование имеет современный дизайн и соответствует самым высоким стандартам качества. Мы используем передовые технологии и инновационные материалы для обеспечения эффективного охлаждения и длительного срока службы наших изделий.
    </p>
</div>