<header class="header">
    <div class="container top-menu">
        <img src="/src/assets/logo.svg" alt="Хладотека">
        <ul class="row align-center top-bar-menu">
            <li>
                <a href="">Продукция</a>
            </li>
            <li>
                <a href="">О компании</a>
            </li>
            <li>
                <a href="">Сервис и доставка</a>
            </li>
            <li>
                <a href="">Новости</a>
            </li>
            <li>
                <a href="">Контакты</a>
            </li>
        </ul>
        <ul class="row align-center menu-icon">
            <li class="menu-icon">
                <a href=""><img src="src/assets/header/search_icon.svg" alt="search"></a>
            </li>
            <li class="menu-icon">
                <a href=""><img src="src/assets/header/_icon.svg" alt=""></a>
            </li>
            <li class="menu-icon">
                <a href=""><img src="src/assets/header/favourite_icon.svg" alt="favourite"></a>
            </li>
            <li>
                <a href="" class="row align-center">
                    <img src="src/assets/header/person_icon.svg" alt="profile">
                    <p>Личный кабинет</p>
                </a>
            </li>
        </ul>
    </div>
</header>