<header class="header">
    <div class="container top-menu">
        <a href="/" class="row align-center"><img src="/src/assets/logo.svg" alt="Хладотека"></a>
        <input class="top-menu-btn" type="checkbox" id="top-menu-btn"/>
        <label class="top-menu-icon" for="top-menu-btn">
                <span class="top-menu-hamburger-icon"></span>
        </label>
        <nav>
            <div class="mobile-search-input">
                <form>
                    <input type="search" placeholder="Поиск">
                    <button><span class="icon icon-search"></span></button>
                </form>
            </div>
            <ul class="row align-center top-bar-menu top-menu-ul">

                <li class="dropdown-btn">
                    <a class="desktop-trigger">Продукция<span class="icon icon-triangle dropdown-icon"></span></a>
                    <div class="dropdown dropdown-production container">
                        <ul>
                            <li>
                                <a href="catalog.html">
                                    <div class="dropdown-production-icon">
                                        <span class="icon icon-old-cabinets"></span>
                                    </div>
                                    <div class="dropdown-production-info">
                                        <div class="dropdown-production-category-title">Холодильные шкафы</div>
                                        <div class="dropdown-production-info-count"><span>15</span> товаров</div>
                                        <span class="icon icon-halfarrow"></span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="dropdown-production-icon">
                                        <span class="icon icon-cold-boxes"></span>
                                    </div>
                                    <div class="dropdown-production-info">
                                        <div class="dropdown-production-category-title">Холодильные лари</div>
                                        <div class="dropdown-production-info-count"><span>15</span> товаров</div>
                                        <span class="icon icon-halfarrow"></span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="dropdown-production-icon">
                                        <span class="icon icon-beer-cooler"></span>
                                    </div>
                                    <div class="dropdown-production-info">
                                        <div class="dropdown-production-category-title">Пивоохладители</div>
                                        <div class="dropdown-production-info-count"><span>15</span> товаров</div>
                                        <span class="icon icon-halfarrow"></span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="dropdown-btn">
                    <div class="desktop-trigger">О компании <span class="icon icon-triangle dropdown-icon"></span></div>
                    <div class="dropdown dropdown-company">
                        <ul>
                            <li><a href="#">Наша компания</a></li>
                            <li><a href="#">Вакансии</a></li>
                            <li><a href="#">Стать партнером</a></li>
                            <li><a href="#">Отзывы</a></li>
                        </ul>
                    </div>
                </li>

                <li><a href="catalog.html">Сервис и доставка</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Контакты</a></li>
            </ul>
        </nav>
        <ul class="row align-center menu-icon top-menu-ul">
            <li class="scroll-to-top-btn">
                <span class="icon icon-triangle"></span>
            </li>
            <li class="search-wrap">
                <form class="search-form">
                    <input type="search" class="menu-icon-search" placeholder="Поиск">
                    <button type="button" class="search-icon"><span class="icon icon-search"></span></button>
                </form>

            </li>
            <li class="dropdown-btn desktop-trigger">
                <a class="comparison-link">
                    <span class="icon icon-comparison">
                        <span class="icon icon-comparison-stick"></span>
                        <span class="icon icon-comparison-scales left-scales"></span>
                        <span class="icon icon-comparison-scales right-scales"></span>
                    </span>
                </a>
                <div class="dropdown dropdown-comparison">
                    <div>Сравнение товаров</div>
                    <div class="dropdown-comparison-container">
                        <div class="dropdown-comparison-block">
                            <div class="dropdown-comparison-block-main">
                                <img src="/src/assets/header/comparison-example.png" alt="Предмет сравнения">
                                <span>BOREY 1400</span>
                            </div>
                            <span class="icon icon-wastebasket"></span>
                        </div>
                        <div class="dropdown-comparison-block">
                            <div class="dropdown-comparison-block-main">
                                <img src="/src/assets/header/comparison-example.png" alt="Предмет сравнения">
                                <span>BOREY 1400</span>
                            </div>
                            <span class="icon icon-wastebasket"></span>
                        </div>
                        <div class="dropdown-comparison-block">
                            <div class="dropdown-comparison-block-main">
                                <img src="/src/assets/header/comparison-example.png" alt="Предмет сравнения">
                                <span>BOREY 1400</span>
                            </div>
                            <span class="icon icon-wastebasket"></span>
                        </div>
                        <div class="dropdown-comparison-block">
                            <div class="dropdown-comparison-block-main">
                                <img src="/src/assets/header/comparison-example.png" alt="Предмет сравнения">
                                <span>BOREY 1400</span>
                            </div>
                            <span class="icon icon-wastebasket"></span>
                        </div>
                    </div>
                    <div class="dropdown-comparison-button-container">
                        <a href="#" class="button button-comparison">
                            В сравнение
                        </a>
                    </div>
                </div>
            </li>
            <li class="favourite-button">
                <a href=""><span class="icon icon-heart"></span></a>
            </li>
            <li class="dropdown-btn desktop-trigger">
                <div class="account-icon">
                    <span class="icon icon-person"></span>
                    <div class="account-text ">
                        Личный кабинет
                    </div>
                </div>
                <div class="dropdown dropdown-account">
                    <div class="account-user">
                        <span class="account-user-name">Иван Иванов</span>
                        <span class="account-user-phone">+7 999 999-99-99</span>
                    </div>
                    <ul class="account-links">
                        <li><a href="#"><span class="icon icon-person not-after"></span>Мой кабинет</a></li>
                        <li><a href="#">Мои заявки</a></li>
                    </ul>
                    <ul class="account-optional-link">
                        <li><a href="#">Стать партнером</a></li>
                        <li><a href="#">Гарантия и возврат</a></li>
                        <li><a href="#">Доставка и оплата</a></li>
                        <li><a href="#">Обратная связь</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</header>