.dropdown {
    display: none;
}

.dropdown * {
    transition: all 0.2s ease-in;
}

.dropdown-production {
    position: fixed;
    top: 64px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: #FFF;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.10);
}

.dropdown-production ul {
    display: flex;
    flex-direction: row;
}

.dropdown-production ul li {
    width: 33.3333333333333333%;
}

.dropdown-production ul li:hover {
    background-color: #fff;
}

.dropdown-production ul li a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 40px 80px;
    align-items: center;
    gap: 30px;
    flex: 1 0 0;
    height: auto;
}

.dropdown-production-icon {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #C0C0C0;
    border-radius: 50%;
}

.dropdown-production-icon:after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #e12026;
    border-radius: 50%;
}

.dropdown-production ul li a:hover .dropdown-production-icon {
    border-color: #e12026;
}

.dropdown-production ul li a:hover * {
    transition: all 0.3s ease-in;
}

.dropdown-production-icon .icon:before {
    font-size: 40px;
    color: #202020;
}

.dropdown-production-icon .icon-cold-boxes:before {
    font-size: 24px;
}

.dropdown-production-category-title {
    color: #202020;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
}

.dropdown-production ul li a:hover .dropdown-production-category-title, .dropdown-production ul li a:hover .dropdown-production-info .icon:before {
    color: #E12026;
}

.dropdown-production-info-count, .dropdown-production-info-count span {
    color: #E12026;
    font-size: 12px!important;
    font-weight: 500;
    line-height: 100%;
}

.dropdown-production-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.dropdown-production-info .icon {
    margin: 0;
    height: min-content;
    text-align: left;
    line-height: 7px;
}

.dropdown-production-info .icon:before {
    font-size: 7px;
}


.dropdown-company {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 64px;
    border-bottom: 2px solid #E12026;
    background: #FFF;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.10);
}

.dropdown-comparison {
    position: absolute;
    top: 64px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFF;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.10);
    width: 320px;
    padding-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dropdown-comparison div:first-child {
    color: #202020;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Onest;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 25.2px */
}

.dropdown-comparison-container {
    display: flex;
    padding: 20px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.dropdown-comparison-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px 20px 2px 0px;
    border: 1px solid #F0F0F0;
}

.dropdown-comparison-block-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.dropdown-comparison-block-main span {
    color: #202020;
    font-size: 16px;
    line-height: 120%; /* 19.2px */
}

.dropdown-comparison-button-container {
    display: flex;
    padding: 10px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-top: 1px solid #F0F0F0;
}

.dropdown-comparison .dropdown-comparison-button-container .button-comparison {
    color: white;
    margin: 0 auto;
    padding: 15px 40px;
    width: 100%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
}

.dropdown-comparison .dropdown-comparison-button-container .button-comparison:hover {
    border: 2px solid #e12026;
    color: black;
}

.dropdown-btn:hover .dropdown-comparison {
    display: flex;
}

.dropdown-account {
    width: 270px;
    position: absolute;
    top:65px;
    right: 0;
    border-bottom: 2px solid #E12026;
    background: #FFF;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.10);
}

.dropdown-account ul {
    width: 100%;
}

.menu-icon .dropdown-account ul li {
    width: 100%;
    border-left: none;
}

.account-user {
    display: flex;
    height: 50px;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    margin: 10px 0;
    cursor: auto;
}

.account-user-name {
    color: #202020;
    margin-top: 10px;
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.account-user-phone {
    color: #808080;
    font-family: Onest;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.account-links {
    padding: 10px 0;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
}

.account-links li a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.account-links li a span {
    margin: 0;
}

.dropdown .account-links li:hover a span:before {
    color: #fff;
}

.account-optional-link {
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px;
    gap: 10px;
}

.dropdown .account-optional-link li:hover {
    background-color: transparent;
}

.dropdown .account-optional-link li:hover a {
    color: #e12026;
}

.dropdown .account-optional-link li a {
    display: block;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    padding: 0 20px;
    height: auto;
}

.dropdown li {
    display: flex;
    width: 220px;
    align-items: flex-start;
    gap: 10px;
    background-color: #FFF;
}

.dropdown li:hover {
    background-color: #E12026;
}

.dropdown li:hover a {
    color: #FFF;
}

.dropdown li a {
    height: 50px;
    width: 100%;
    color: #404040;
    padding: 10px 20px;
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}

.desktop-trigger .icon-triangle {
    display: none;
}

.dropdown-btn:hover .dropdown-account {
    display: flex;
    flex-direction: column;
}

.dropdown-btn .dropdown-account {
    display: none;
}

.desktop-trigger {
    position: relative;
}

@media screen and (min-width: 991px) {
    .dropdown-btn:hover .dropdown {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 991px) and (max-width: 1280px) {
    .dropdown-production ul li a {
        padding: 40px 40px;
    }
}

@media screen and (max-width: 990px) {
    .top-menu .top-bar-menu li   {
        height: auto;
        padding: 10px 0;
        text-align: start;
        color: #17181D;
        font-family: Onest;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 21.6px */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .top-bar-menu li::after {
        display: none;
    }

    .dropdown-production {
        position: relative;
        box-shadow: none;
        left: auto;
        top: auto;
        transform: none;
        border-bottom: none;
        display: none;
    }

    .dropdown-production.container {
        padding: 0;
    }

    .dropdown ul {
        flex-direction: column;
        width: 100%;
    }

    .dropdown, .dropdown ul li {
        width: 100%;
    }

    .dropdown-production ul li a {
        padding: 10px 0;
    }

    .dropdown-company {
        position: relative;
        box-shadow: none;
        left: auto;
        top: auto;
        transform: none;
        border-bottom: none;
        display: none;
    }

    .dropdown-comparison, .dropdown-account   {
        width: 100vw;
        bottom: 60px;
        left: auto;
        top: auto;
        right: 0;
        transform: translateX(50%);
    }

    .dropdown-account {
        transform: none;
    }

    .menu-icon li .dropdown-comparison .icon {
        width: auto;
    }

    .menu-icon li .dropdown-comparison .icon:before {
        font-size: 15px;
    }

    .dropdown li {
        width: 100%;
    }

    .dropdown li a {
        padding: 0;
        color: #404040;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 18px */
        height: auto;
    }

    .dropdown li:last-child {
        padding-bottom: 0;
    }

    .dropdown.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dropdown-btn {
        border-bottom: 1px solid #F0F0F0;
    }

    .desktop-trigger {
        display: flex;
        flex-direction: row!important;
        align-items: center;
        justify-content: space-between;
    }

    .desktop-trigger .dropdown-icon {
        margin-left: 10px;
        width: max-content;
        transform: rotate(180deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease-out;
    }

    .desktop-trigger .dropdown-icon:before {
        color: black;
        font-size: 8px;
    }

    .icon-rotate {
        transform: rotate(0)!important;
    }

    .account-icon {
        margin-left: 0!important;
    }

    .account-text {
        display: none!important;
    }

    .account-links li a {
        padding: 0px 20px;
        height: 50px;
    }

    .dropdown-account {
        border-bottom: none;
    }
}
