.about-numbers {
    margin-top: -2%;
}

.about-numbers header {
    background-color: #151515;
    height: 330px;
    transform: skewY(-1.52deg);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}

.about-numbers header h1 {
    color: #FFF;
    font-family: Molot, serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
    transform: skewY(1.52deg) rotate(-1.52deg);
    margin-bottom: 50px;
}

.about-numbers main {
    align-items: center;
    margin-top: 110px;
    margin-bottom: 225px;
}

.about-numbers-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18%;
}

.about-numbers-block img {
    height: 32px;
}

.about-numbers-block h2 {
    margin: 20px 0;
    background: linear-gradient(180deg, #6F7580 0%, #4D5769 100%);
    background-clip: text;
    text-align: center;
    font-family: Molot;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1.28px;
    color: transparent;
}

.about-numbers-block h2 span {
    font-size: 32px;
    height: 100%;
}

.about-numbers-block p {
    color: #202020;
    text-align: center;
    font-family: Onest;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.divider {
    width: 1px;
    height: 100px;
    background: #DDD;
}